@model CloudDevelopmentPART3.Models.Venue

@{
    ViewData["Title"] = "Details";
}

<h1>Venue Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VenueName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.imageUrl)

        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary btn-sm" asp-controller="Venues" asp-action="Edit" asp-route-id="@Model?.VenueId">Edit</a>

    <a class="btn btn-primary btn-sm " asp-controller="Venues" asp-action="Index"> Back to List </a>
</div>
