@model IEnumerable<CloudDevelopmentPART3.Models.Venue>

@{
    ViewData["Title"] = "Index";
}

<h1>Venues</h1>

<p>
    <a class="btn btn-primary " asp-controller="Venues" asp-action="Create"> Create New Venue </a>

</p>

<div class="container mt-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.VenueName</h5>
                        <p class="card-text">Location: @item.Location</p>
                        <p class="card-text">Capacity: @item.Capacity</p>
                        @if (!string.IsNullOrEmpty(item.imageUrl))
                        {
                            <img src="@item.imageUrl" alt="Venue Image" style="width:100%;height:auto;" />
                        }
                        else
                        {
                            <p>No image available</p>
                        }
                        <br>
                        <br>
                        <a class="btn btn-primary" asp-controller="Venues" asp-action="Edit" asp-route-id="@item.VenueId">Edit</a>
                        <a class="btn btn-secondary" asp-controller="Venues" asp-action="Details" asp-route-id="@item.VenueId">Details</a>
                        <a class="btn btn-danger" asp-controller="Venues" asp-action="Delete" asp-route-id="@item.VenueId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>





