@model IEnumerable<CloudDevelopmentPART3.Models.Booking>

@{
    ViewData["Title"] = "EnhancedBookingView";
}

<h1>Filter Bookings</h1>

<p>
    <form asp-controller="Bookings" asp-action="EnhancedBookingView">
        <label>
            Name of Booked Event: <input type="text" name="SearchString" />
        </label>
        <input type="submit" value="Filter" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingEndDate)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.VenueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingEndDate)
                </td>

            </tr>
        }
    </tbody>
</table>
