@model CloudDevelopmentPART3.Models.EnhancedBookingViewModel

@{
    ViewData["Title"] = "EnhancedBookingView";
}

<h1>Filter Bookings</h1>

<p>
    <form asp-action="EnhancedBookingView" method="get">
        <label>Select Event Type</label><select asp-for="Type" asp-items="Model.EventTypes">
            <option value="">All</option>
        </select>
        <button type="submit">Filter</button>

        <label>Booked Event Name:</label><input type="text" asp-for="SearchString" />
        <button type="submit">Search</button>
    </form>



</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Event.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Event.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Event.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Event.EventTypeModel.EventType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Venue.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Venue.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Venue.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].BookingStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].BookingEndDate)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventTypeModel.EventType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.VenueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingEndDate)
                </td>

            </tr>
        }
    </tbody>
</table>