@model IEnumerable<CloudDevelopmentPART3.Models.Booking>


@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>

    <a class="btn btn-primary " asp-controller="Bookings" asp-action="Create"> Create New Booking </a>
</p>


<div class="container mt-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Event Name: @item.Event.EventName</p>
                        <p class="card-text">Venue Name: @item.Venue.VenueName</p>
                        <p class="card-text">Booking Start Date: @item.BookingStartDate.ToString("dd/MM/yyyy")</p>
                        <p class="card-text">Booking End Date: @item.BookingEndDate.ToString("dd/MM/yyyy")</p>


                        <br>
                        <br>
                        <a class="btn btn-primary" asp-controller="Bookings" asp-action="Edit" asp-route-id="@item.BookingId">Edit</a>
                        <a class="btn btn-secondary" asp-controller="Bookings" asp-action="Details" asp-route-id="@item.BookingId">Details</a>
                        <a class="btn btn-danger" asp-controller="Bookings" asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
